* {
  margin: 0;
  padding: 0;
  z-index: 0;
  font-family: "Inter";
}

label {
  width: auto;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.w-auto {
  width: auto;
}

.w-maxcontent {
  width: max-content;
}

.justify-content-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.w-inherit {
  width: inherit;
}

.w-100 {
  width: 100%;
}

section {
  background-color: #f5f5f5;
}

img {
  width: auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  width: auto;
}

#dashboard {
  min-height: 100vh;
  width: auto;
  background-color: #f5f5f5;
  transition: margin-left 0.3s ease;
}

.dashboard-page.collapsed {
  margin-left: 80px;
}

#dashboard.collapsed,
#profilAngajati.collapsed {
  margin-left: 80px;
}

@media screen and (max-width: 700px) {
  #profilAngajati,
  #dashboard {
    /* margin-left: 80px !important; */
  }

  #MenuSide {
    z-index: 100;
  }
}

.button-style-1 {
  background: #151b28;
  border-radius: 12px;
  color: #fff;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.7em 1em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0.2rem;
}

.button-style-1:hover {
  border: 1px solid #2c58b1;
}

.button-style-2 {
  background: #f8f9fb;
  border-radius: 12px;
  color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.7em 1em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #1a1a1a;
  transition: border-color 0.25s;
  margin: 0.2rem;
}

.button-style-2:hover {
  border: 1px solid #2c58b1;
}

#dashboard h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.align-items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

li {
  display: flex;
  align-items: center;
}

h4,
li {
  color: #98a4b2;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

svg {
  width: auto;
}

#Utile,
#Modul-hr,
#Modul-ssm {
  padding: 0 1rem 2rem 1rem;
  width: auto;
}

#Utile svg,
#Modul-hr svg,
#Modul-ssm svg {
  padding: 0 1rem 0 0;
}

#Utile li,
#Modul-hr li,
#Modul-ssm li {
  padding: 0.5rem 0;
}

#top-bar {
  background-color: #ffffff;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  flex-direction: row-reverse;
  z-index: 1000;
  position: relative;
}

.user-container {
  padding: 0 1rem 0 2rem;
}

.user-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.dashboard-page {
  min-height: 100vh;

  width: auto;
  background-color: #f5f5f5;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.user-role {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#middle-section {
  padding: 1.5rem 5.5rem 1.5rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6rem;
}

#middle-section select {
  border: 1px solid #e1e6ed;
  border-radius: 16px;
  padding: 0 0.5rem;
  color: #5f6d7e;
  width: auto;
}

#middle-section h3 {
  color: #151b28;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.info-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1.1rem 2rem;
  font-family: "Inter";
}

.info-container h5 {
  width: auto;
}

.button-logout {
  padding: 0.3rem 1.6rem;
  border-radius: 15px;
  width: auto;
}

.see-more {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #174aff;
  width: 9ch;
}

.next-event {
  padding: 1rem 0;
  align-items: center;
}

.next-event svg {
  padding-right: 1rem;
}

.next-event h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #1c1f37;
}

.next-event h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #1c1f37;
}

#bottom-section {
  display: grid;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.cursuri-echipa-entry,
.cursuri-echipa-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 0.4rem 0;
  align-items: center;
}

.cursuri-echipa-entry {
  min-width: 49px;
  border-top: 1px solid #e2e8f0;
}

.cursuri-echipa-entry h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #1c2434;
}

.cursuri-echipa-title {
  color: #64748b !important;
  padding-top: 2rem;
}

.date-entry {
  width: auto;
  padding: 0.3rem 0.4rem;
  color: #ff133e !important;
  background: rgba(255, 19, 62, 0.05);
  border-radius: 16px;
  max-width: 15ch;
}

@media screen and (max-width: 1730px) {
  #middle-section {
    grid-template-columns: 1fr 1fr;
  }

  #side-menu {
    min-width: 290px;
  }

  #bottom-section {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1345px) {
  #middle-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #bottom-section {
    display: flex;
    flex-direction: column;
  }

  #side-menu {
    min-width: 220px;
  }
}

#close-menu,
#mobile-menu-button {
  width: auto;
  background: none;
  border: none;
}

#mobile-menu-button {
  display: none;
}

@media screen and (max-width: 1345px) {
  #side-menu {
    max-width: 80%;
    width: 0;
    min-width: auto;
    transition: width 0.5s ease-in-out;
    z-index: 1;
  }

  .user-container {
    display: none;
  }

  #top-bar img {
    padding: 0 10px;
  }

  #mobile-menu-button {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  #notification-icon {
    display: none;
  }
}
#side-menu::-webkit-scrollbar {
  width: 3px;
}

#side-menu::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#side-menu::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

#middle-section img {
  width: inherit;
}

table * {
  width: auto;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  box-shadow: none !important;
}

th.MuiTableCell-root.MuiTableCell-body.MuiTableCell-sizeSmall.css-dsuxgy-MuiTableCell-root,
td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeSmall.css-dsuxgy-MuiTableCell-root {
  padding: 0.9rem 0.4rem !important;
}

td.MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft.MuiTableCell-sizeSmall.css-dsuxgy-MuiTableCell-root.date-entry
  h2 {
  padding: 0.3rem 0.4rem !important;
}

.info-container table {
  margin: 1rem 0 0 0;
}

.tableLables {
  font-family: "Inter" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #64748b !important;
}

.menuTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #98a4b3;
  padding: 0 20px;
}

.ps-collapsed .menuTitle {
  display: none;
}

span.ps-menu-label.css-12w9als {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #98a4b3;
}

.css-16jkw2k > .ps-menu-button {
  height: auto !important;
  padding-top: 6px;
}

.ps-menu-label.css-12w9als {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spanTitle {
  width: auto;
}

.ps-collapsed .topSidebar .spanTitle {
  display: none;
}

.ps-collapsed .sidemenuButton {
  padding-left: 3px;
}

aside {
  width: 250px;
}

#login-page input {
  margin: 0.8rem;
  padding: 1rem;
  border: 1px solid #e1e6ed;
  border-radius: 1rem;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar * {
  width: auto;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
  width: auto;
}

.MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor.css-6h1dhi-MuiDataGrid-root {
  margin: 2rem;
  border-radius: 25px;
  border-color: rgb(23, 74, 255);
}

.row-reverse {
  flex-direction: row-reverse;
}

.blue-button {
  width: auto;
  background-color: #174aff;
  color: white;
  border: #174aff;
  min-width: 9.438rem;
  min-height: 2.875rem;
  border-radius: 5rem;
  cursor: pointer;
}

.green-button {
  width: auto;
  background-color: #00c48c;
  color: white;
  border: #00c48c;
  padding: 0.6rem 1rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid #00c48c;
}

.green-button:hover {
  background-color: #f5fffc;
  color: #00c48c;
}

.blue-button:hover {
  background-color: #2c58b1;
}

button {
  width: auto;
}

select {
  width: -webkit-fill-available;
  padding: 0.5rem;
  border-radius: 12px;
  margin: 0.5rem 0;
}

#echipaMea input,
#profilAngajati input {
  width: fit-content;
  margin: 0.8rem;
  padding: 1rem;
  border: 1px solid #e1e6ed;
  border-radius: 1rem;
}

#adauga-angajat-container {
  width: auto;
  margin-bottom: 1rem;
}

#adauga-angajat-container > div {
  padding: 0rem 4rem;
  width: auto;
}

@media screen and (width < 1000px) {
  #adauga-angajat-container {
    flex-direction: column;
  }

  #adauga-angajat-container > div {
    padding: 0;
  }

  #adauga-angajat-container > div:first-child {
    padding: 2rem 2rem 0 2rem;
  }

  #adauga-angajat-container > div:nth-child(2) {
    padding: 0 2rem 2rem 2rem;
  }
}

.MuiToolbar-root
  .MuiToolbar-gutters
  .MuiToolbar-regular
  .MuiTablePagination-toolbar
  .css-8nphli {
  width: auto;
}

.MuiTablePagination-displayedRows .css-1chpzqh {
  width: auto;
}

.MuiTablePagination-actions {
  width: inherit;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-main {
  position: fixed;
  background-color: white;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  border-radius: 16px;
  height: auto;
}

.MuiDataGrid-virtualScroller.css-frlfct {
  min-height: 3rem;
}

.MuiDataGrid-root {
  padding: 1rem;
}

.MuiDataGrid-toolbarContainer {
  width: auto;
}

.info-angajat-container {
  border: 1px solid #c6c7c9;
  border-radius: 0.4rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#profilAngajati .info-angajat-container {
  width: inherit;
}

#profilAngajati h4 {
  color: #000000;
}

.centering-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 95%;
  margin: 2rem;
}

.grid-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #c6c7c9;
}

.transparent {
  box-shadow: none !important;
  background-color: transparent !important;
}

.css-1m9pwf3 {
  cursor: inherit !important;
  position: absolute !important;
  opacity: 0 !important;
  width: 100% !important;
  height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1 !important;
}

.css-204u17-MuiDataGrid-main {
  z-index: -1 !important;
}

.back-button {
  border: none;
  background: transparent;
  cursor: pointer;
  transition: padding 0.3s ease-in-out;
  padding-left: 1rem;
}

.back-button:hover {
  padding-left: 0rem;
  padding-right: 1rem;
}

.teamEditMembers {
  display: flex;
  justify-content: center;
}
.leaderModal,
.memberModal {
  height: fit-content;
  background: #e9e9e9;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  border: 1px solid #c3c3c3;
}

.leaderModal {
  margin: 0.3rem 0;
}

.MuiAutocomplete-hasPopupIcon.css-1wuilmg-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  background-color: #fff;
}

.MuiDataGrid-footerContainer {
  z-index: -1;
}

#organigramme {
  display: flex;
  width: 100%;
  margin: 2rem 0;
  flex-direction: column;
}

#organigramme li {
  display: unset !important;
}

.title-org {
  padding: 2rem 0;
  text-align: center;
}

#chart-teams {
  margin-top: 3rem;
}

.css-to7de5,
.css-to7de5::before {
  padding-top: 60px !important;
}

li.css-1vs3jbz div {
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  font-size: 1.3rem;
  font-weight: 600;
  border: 2px solid rgb(180 197 255);
}

.chart-buttons {
  display: flex;

  flex-direction: row-reverse;

  margin: 0 5%;
}

.chart-buttons .button-style-1 {
  transition: all 0.15s ease-in-out;
}

.chart-buttons .button-style-1:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

.menu {
  position: fixed;
  top: 50%;
  right: -40rem;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #151b28;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease-in-out;
}

.menu > div {
  margin: 1rem 0px;
}

.menu.active {
  min-width: 20rem;
  right: 0;
  max-width: 25rem;
}

.menu label {
  color: #fff;
}

.menu input {
  padding: 1rem;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menu ul li {
  margin-bottom: 10px;
  display: flex !important;
  flex-direction: column;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu-toggle {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 999;
}

.menu
  .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-l4u8b9-MuiInputBase-root-MuiInput-root {
  color: #000000;
  background-color: white;
  max-width: -webkit-fill-available;
}

.css-1h51icj-MuiAutocomplete-root .MuiInput-root .MuiInput-input {
  padding: 1rem;
}

/* Initial state: menu is hidden */
.top-bar-menu {
  display: none;
  position: absolute;
  background: #e1e1e1;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0 0 15px 15px;
}

/* When .dropdown is active, show the menu */
.top-bar-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

/* Show list items */
.top-bar-menu li {
  display: block;
  opacity: 1;
  margin: 1rem 0.2rem;
}

/* Animation for active menu */
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

/* Reverse animation for inactive menu */
.top-bar-menu:not(.active) {
  animation: shrinkUp 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes shrinkUp {
  0% {
    transform: scaleY(1);
  }
  80% {
    transform: scaleY(0.9);
  }
  100% {
    transform: scaleY(0);
    display: none; /* Hide the menu at the end of the animation */
  }
}

#title-container {
  padding: 3rem;
  border-bottom: 1px solid #98a4b2;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

#title-container h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #000000 !important;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#main-title {
  display: flex;
}

.menu-icon {
  padding: 0 0 0 0.3rem;
  rotate: 180deg;
  margin-left: 0.8rem;
  transition: rotate 0.3s ease-in-out;
}

.menu-icon.active {
  rotate: 0deg;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: auto;
  max-width: none !important;
}

#adauga-angajat-container input {
  padding: 0.5rem;
  margin: 0.5rem;
}

/* CSS for requested events */
.requested-event {
  background-color: rgb(
    23,
    74,
    255
  ) !important; /* Red background for requested events */
}

/* CSS for approved events */
.approved-event {
  background-color: rgb(
    0,
    215,
    163
  ) !important; /* Green background for approved events */
}

button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium.MuiAutocomplete-popupIndicator.css-uge3vf {
  color: white !important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-12rx5qu {
  border-bottom: 1px solid white !important;
}

input#tags-standard {
  color: black !important;
}

#admin-courses-list {
  display: flex;
  padding: 2rem 4rem;
  justify-content: center;
}

.courses-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  min-width: 20rem;
}

.employee-course {
  display: flex;
  background-color: #151b28;
  padding: 1rem;
  margin: 0.7rem 0;
  justify-content: space-between;
  stroke-width: 1.61px;
  filter: drop-shadow(
    0px 6.441928863525391px 6.441928863525391px rgba(0, 0, 0, 0.25)
  );
  border-radius: 33px;
  align-items: center;
}

.dropdown_revert {
  transition: transform 0.3s ease-in-out;
  transform: (0deg);
}

.dropdown_rotate {
  transition: transform 0.3s ease-in-out;
  transform: rotate(180deg);
}

.employee-course {
  position: relative;
  z-index: 1;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.employee-course-dropdown {
  position: relative;
  padding: 1rem;
  display: none;
  margin: 0.7rem;
  filter: drop-shadow(
    0px 6.441928863525391px 6.441928863525391px rgba(0, 0, 0, 0.25)
  );
  border-radius: 33px;
  z-index: 0;
  background-color: #ffffff;
  animation: growUp 300ms ease-in-out forwards;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;
}

.employee-course-dropdown.active {
  display: flex;
  flex-direction: column;
  animation: growDown 300ms ease-in-out forwards;
}

.button-complete-admin {
  border-radius: 1rem;
  background: #bf1d1d;
  border: none;
  padding: 1rem 0.5rem;
  color: #ffffff;
  cursor: pointer;
}

.button-generate-document {
  border-radius: 1rem;
  background: #3bc538;
  border: none;
  padding: 1rem 0.5rem;
  color: #ffffff;
  cursor: pointer;
}

div > .course-status {
  border-bottom: 1px solid #000000;
}

div > .course-status:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.course-status > .inner-course-status:first-child {
  margin-bottom: 0;
}

.inner-course-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

div .course-status:first-child .inner-course-status {
  margin-top: 0rem;
}

.MuiStack-root.css-nen11g-MuiStack-root {
  width: -webkit-fill-available;
  max-width: 50%;
  min-height: 400px;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.search-bar {
  margin: 0 0 1rem 0;
}

#my-courses-list {
  display: flex;
  justify-content: center;
}

.my-courses-container {
  border: 1px solid #c6c7c9;
  border-radius: 0.4rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: -webkit-fill-available;
}

.grid-info-my-courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid #c6c7c9;
  align-items: center;
}

.button-start-course {
  border-radius: 1rem;
  background: rgb(23, 74, 255);
  border: none;
  padding: 1rem 0.5rem;
  color: #ffffff;
  cursor: pointer;
}

.my-courses-container > .grid-info-my-courses:first-child {
  border-top: none !important;
}

.listTeams {
  max-width: 1100px;
  min-width: fit-content;
}
